<div class="footer-content">
    <div class="info">
        <h3>Thông tin</h3>
        <a href="#">Trang chủ</a>
        <a href="#">Sản phẩm</a>
        <a href="#">Phụ kiện</a>
        <a href="#">Giới thiệu</a>
        <a href="#">Liên hệ</a>
    </div>
    <div class="contact">
        <h3>Liên hệ</h3>
        <p>
            <b>Địa chỉ:</b>1, Võ Văn Ngân, Thủ Đức, TPHCM
        </p>
        <p>
            <b>Email:</b> giathinhpham98@gmail.com
        </p>
        <p>
            <b>Hot line:</b> (084) 958 2130
        </p>
    </div>
    <div class="communicate">
        <h3>Kết nối với chúng tôi</h3>
        <div class="icon-com">
            <a href="https://www.facebook.com/">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://twitter.com/">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/">
                <i class="fab fa-youtube"></i>
            </a>
        </div>

    </div>
</div>